<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{pokemonName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{pokemonName}}</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-card>
    <div class="top">
      <div class="left-top"><b>{{pokemonName}}</b></div>
      <div class="right-top">
        <div *ngIf="pokemon && pokemon.stats!==undefined"><b><small>PS</small>{{pokemon.stats[0].base_stat}}</b></div>
        <div *ngFor="let types of pokemon?.types">
          <ion-avatar>
            <ion-img src="/assets/img/icons/{{types.type.name}}.png" class="typesIcons"></ion-img>
          </ion-avatar>
        </div>
      </div>
    </div>
    <div id="general-img">
      <div id="img-container" [ngClass]="{'img-container': clicksQR % 2 === 0 , 'img-container-white': clicksQR % 2 !== 0}">
        <ion-img [src]="pokemon?.sprites?.front_default" (click)="clicksQR % 2 === 0 && rotate('pokemon-' + pokemon?.name)" [class.rotate]="clicksPokemon % 2 !== 0" [id]="'img-' + pokemon?.name" ></ion-img>
        <ion-img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=https://pokeapi.co/api/v2/pokemon/{{pokemon?.name}}" (click)="toggleOtherImage(pokemon?.name)" [class.rotate]="clicksQR % 2 !== 0" [id]="'imgQR-' + pokemon?.name" class="small-image" [ngClass]="{'img-container': clicksQR % 2 !== 0 , 'small-img-container-white': clicksQR % 2 === 0}"></ion-img>
      </div>
      <div class="description">
        <div>N.º {{pokemonSpecies?.id}}</div>
        <ng-container *ngFor="let description of pokemonSpecies?.genera">
          <div *ngIf="description.language.name==='es'">{{description.genus}}</div>
        </ng-container>
        <div>Altura {{pokemon?.height}}m</div>
        <div>Peso {{pokemon?.weight}}kg</div>
      </div> 
    </div>
    
    <ion-card-header>
      <ion-card-title>{{pokemonName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ng-container *ngFor="let descriptions of pokemonSpecies?.flavor_text_entries">
        <div *ngIf="descriptions.language.name=='es' && descriptions.version.name==='x'">
        {{descriptions.flavor_text}}
        </div>
      </ng-container>
    </ion-card-content>
  </ion-card>
  
</ion-content>
