.avatar-left {
    width: fit-content; 
    height: fit-content; 
    margin-right: 8px; 
  }

  .avatar-left-poke{
    width: 96px; 
    height: 96px; 
    margin-right: 8px;
    padding: 18px;
  }
  
  .label-text {
    font-size: 14px; 
  }
  
  .label-container {
    display: flex;
    align-items: center;
  }
  