.avatar-left {
    width: fit-content; 
    height: 84px; 
    margin-right: 8px; 
  }
  
  .label-text {
    font-size: 14px; 
  }
  
  .label-container {
    display: flex;
    align-items: center;
  }
  